body{
    background-color: lightsteelblue;
    text-align: center;
    justify-content: center;
    font-family: 'roboto', sans-serif;
    margin-top: 110px;
}
 
form{
    margin-top: 50px;
    padding: 40px 40px;
    border-radius: 10px;
    min-block-size: 10px;
    background: whitesmoke;
    padding: 3rem;
    border-radius: 14px 10px;
}

h1{
    margin-bottom: 10px;
    
    

}


input{
    width: 30%;
    border-radius: 8px 10px;
}

p{
    color: whitesmoke;
}